[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sh -c "\\$HOME/.fightcade2/emulator/flycast/switch_flycast_version.sh"
Name=Switch Fightcade Flycast Version
Comment=Switches Between Bundled & System Version
Categories=Game;Emulator
Icon=xterm

